<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PredictionKey" value="f5e8be2f86fa4c7abc16055839be3f7f"/>
    <add key="EndPoint" value="https://goods.cognitiveservices.azure.com/"/>
    <add key="ProjectId" value="f7928982-5866-4e18-a3da-61472e42e5e0"/>
    <add key="PublishName" value="Iteration5"/>
    <add key="GoodsInfo" value="https://goodsinfo.azurewebsites.net/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>