<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PredictionKey" value="37f6e05d41814e56a03494bd579b812a"/>
    <add key="EndPoint" value="https://goods.cognitiveservices.azure.com/"/>
    
    <add key="ClassifyProjectId" value="0024ed80-d75a-4945-a593-7361c45cb835"/>
    <add key="ClassifyPublishName" value="Iteration2"/>
    
    <add key="GoodsInfo" value="https://goodsinfo.azurewebsites.net/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>